<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1>模板标记的学习</h1>
    <p>{{ name }}</p>
    <p>{{ users.0 }}</p>
    <p>{{ users.1 }}</p>
    <p>{{ user_dict.key1 }}</p>
    <p>{{ user_dict.key2 }}</p>
    <p>循环</p>
    {% for item in users%}
        {{ item }}
    {% endfor %}
    <p>循环列表</p>
    <table border="1">
        {% for row in user_list_dict %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.sex }}</td>
                <td>
                    <a>编辑</a> | <a>删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>